body{
    background-color: rgb(181, 181, 181);
    margin:0;
    padding: 0;
}

header{
    background-color: rgb(98, 98, 244);
    max-width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow: hidden;
}
nav{
   color:brown;
   font-size: 16px;
   list-style-position: inside;
   text-align: center;
}

section{
    display:flex;
    justify-content: center;
    gap:40px;
    margin-top:60px;
    margin-bottom:60px;
}

article{
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: rgb(249, 198, 137, 0.7)
}

footer{
    background-color:rgb(176, 102, 245);
    overflow: hidden;
    margin-bottom: 0;
}